<!DOCTYPE html>
<html lang="en">
<head>
 

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>{% block title %}Base{% endblock %}</title>
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse" style="background:#000000">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
            <div class= solnav>
        <a href="https://www.uu.nl/bachelors/informatiekunde">
        <img src="https://upload.wikimedia.org/wikipedia/en/2/26/Utrecht_University_logo.svg" alt="Sol Home" width="45px">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">Recommender Engine</a>
            </div>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:5000/">Home</a>
        <li><a href="http://127.0.0.1:5000/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
    <main>
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4">UU Proprietary Search Engine™</h1>
        <p class="lead">The search engine that would track you if it could</p>
        </div>
    </div>
    </main>

    {% block content %}
    {% endblock %}
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>