{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<style>
h1 {
    margin-left: 50px;
}

h3 {
    margin-left:50px;
}
</style>
<h1>Contact us</h1>
<h3> Sander Breshamer<br><br>Fatih Enkür</h3>
{% endblock %}