{% extends "base.html" %}
{% block title %}Recommender Engine{% endblock %}
{% block content %}

<h1>Please upload a .txt file to start your query</h1>
{{resultData}}
<div class="container">
    <div class="row">
      <div class="col">
        <form method=post enctype=multipart/form-data>
          <p><input type=file name=file>
              <input type=submit value=Upload>
          </p>
          <table class="table table-striped table-sm"> 
            <tbody> 
              <tr> 
              {% for header in headers%} 
              
                <th>{{header}}</th>
               
              {% endfor %} 
            </tr>
            <tr> 
              {% for data in resultData%} 
              
                <td>{{data}}</td>
               
              {% endfor %} 
            </tr>
            </tbody> 
          </table> 
        </form>
       </form>
      </div>
    </div>
  </div>
  

{% endblock %}