{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block content %}
<h1>Test RESULTS</h1>
<table border = 1> 
    {% for key, value in result.iteritems() %} 
     
       <tr> 
          <th> {{ key }} </th> 
          <td> {{ value }} </td> 
       </tr> 
        
    {% endfor %} 
{% endblock %}